In [2]:
import pandas as pd

<p>Por una cuestión de capacidad de procesamiento, se dividió el dataset Reviews en cuatro partes.</p>

<b>DATA REVIEWS-PARTE 1</b>

In [2]:
df1 = pd.read_parquet('review-001-parte1-parquet')

In [3]:
pd.DataFrame(df1)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...,...
1747565,8h6lv6O44HtmYnB2Sbqc4w,b9RojjGD1CCG9B3WiVbTPg,6YLsU2RHLRCs7_EHbP303Q,5.0,1,0,1,My hubby and I needed some hostess gifts and s...,2016-09-15 14:33:40
1747566,h8_aRqDvanwMVRxHGIv7xA,xy8g2CWmhScQ946xSyRUAw,LO5yBY9uoowtq7FsaKPJXA,3.0,1,0,0,We went to Kraftwork about a month ago. I rea...,2010-06-28 15:28:43
1747567,UKvqM2FTD_lu6BFaJ2k49A,GYFwPQoVIP0w97D3v8n3Lg,zMBnxBz4txWqKZHsDCXPvw,1.0,0,1,0,The chicken was good but that is about all I c...,2013-06-20 21:11:57
1747568,jbfN7IQJ39dRNrRu1FMiiA,ZENvSny_GQOxRXXkQ-MPMA,GAuweBrcC_wK3a0UhZjwfA,5.0,0,0,0,"Had diner twice, first about a month ago, then...",2012-04-22 23:37:52
1747569,IWF6CJzmrf6wpJ4n__bPZA,56DPxiHrTmr_zIZwb7Zftw,ReX09lhufLTAx19krkltDA,3.0,0,0,0,"When I step in here, I feel like I'm transport...",2013-06-14 14:31:42

Convertimos columna 'date' de tipo object a datetime para filtrarlo.

In [4]:
df1['date'] = pd.to_datetime(df1['date'])

In [9]:
df1 = df1[(df1['date'].dt.year >= 2018) & (df1['date'].dt.year <= 2021)]

In [11]:
df1

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
24,lUUhg8ltDsUZ9h0xnwY4Dg,RreNy--tOmXMl1en0wiBOg,cPepkJeRMtHapc_b2Oe_dw,4.0,1,0,1,I was really between 3 and 4 stars for this on...,2018-07-17 03:30:07
38,JBWZmBy69VMggxj3eYn17Q,aFa96pz67TwOFu4Weq5Agg,kq5Ghhh14r-eCxlVmlyd8w,5.0,0,0,0,My boyfriend and I tried this deli for the fir...,2018-08-23 21:39:38
39,E9AB7V4z8xrt2uPF7T55FQ,iYY5Ii1LGpZCpXFkHlMefw,Zx7n8mdt8OzLRXVzolXNhQ,5.0,0,0,0,Amazing biscuits and (fill in the blank). Grea...,2018-04-27 23:03:21
48,A4n4YaE-owOVgTQcrVqHUw,S7bjj-L07JuRr-tpX1UZLw,I6L0Zxi5Ww0zEWSAVgngeQ,4.0,0,0,0,The cafe was extremely cute. We came at 8am an...,2018-07-07 20:50:12
...,...,...,...,...,...,...,...,...,...
1747540,G5L6xa4wF4c2d1CAJr7lfA,OmYcCOlIGQlquNIc0vI7PA,bLwWM6J-VjE8B6LPiOdf8A,5.0,0,0,0,We had a really good time riding the Segway an...,2019-02-03 22:37:07
1747541,sD_2ObPunvg-DTfgl98HsA,O5YOTpCKP0xkUuvZCyWsYQ,sBPwmLycV_L6xVj4OP9ttQ,5.0,1,0,0,My husband and I were married at the Old Mill ...,2018-07-16 16:32:38
1747546,hgmyquvJs6E3EJo2UsABxA,YDfZteqUKr1w5T5Z5fwMOg,N4IFNpTn7kKfK9akJkerwQ,5.0,0,0,0,"Kudos to the chef, our server Robert, the host...",2018-06-17 18:29:46
1747550,YwjpmYxZJjKtnfto6qsH_Q,xlXclX1kY9zoDb9v7u1EhQ,BEpapN26eWvv1OO6JMW7mA,1.0,4,0,0,I made a appt to get my brows microbladed by J...,2018-01-06 18:18:09
1747552,rk1sgqc1_iAxtrZddDh1jA,X-_WCazdMpRtiK6g0r0nUQ,_C7QiQQc47AOEv4PE3Kong,4.0,0,0,0,Commander's Palace was good. I got the shrimp ...,2018-03-13 15:22:51

Verificamos que no haya reseñas duplicadas. Para los usuarios y comercios no hace falta verificar esto.

In [ ]:
df1['review_id'].duplicated().sum()

0

Verificamos datos nulos y tipo de dato.

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 649238 entries, 0 to 1747552
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    649238 non-null  object
 1   user_id      649238 non-null  object
 2   business_id  649238 non-null  object
 3   stars        649238 non-null  float64
 4   useful       649238 non-null  int64
 5   funny        649238 non-null  int64
 6   cool         649238 non-null  int64
 7   text         649238 non-null  object
 8   date         649238 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 49.5+ MB

<b>DATA REVIEWS-PARTE 2</b>

In [12]:
df2 = pd.read_parquet('review-001-parte2-parquet')

In [13]:
pd.DataFrame(df2)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,HCzFdf_PxXoq4kqXD2vtoA,7K_YQlsayNXBuTcV6p7i2w,lICPSPfT_VUp9F-HDx2kkw,4.0,0,0,0,Came here for the first time to pick up a few ...,2011-12-26 18:20:14
1,2T4RHpPHXbE6VS4KMMISfg,PWfBk-vFfWzwNxx5AXXSDg,2tAi411srrpmMofeAKdACw,5.0,0,0,0,"Cute mom and pop atmosphere, Huevos Rancheros ...",2018-08-21 22:37:31
2,gmIZddvZuTz5dYwgwIXa6g,VKPuCUCpbntOEIk5Zq0p-g,uw81ROh3A3sw2kZ346u18g,5.0,1,0,0,"Amazing view! Excellent Ambience! Initially, i...",2017-03-25 13:20:59
3,937MfoGMxCqFGYVrbSR8pA,0lV6XSKZ_Aiwx85iMRopuQ,7y6m2L-Y2bhL5qpeJwuwhg,1.0,9,5,5,Good place to take your car... If you don't ne...,2009-05-07 23:48:02
4,JiCTpcHgdIvDxjitINGAIg,svHFCz1eUWbVyGuP2KVAAQ,cYZzwOnwzppjuzseAi2p9w,5.0,0,0,0,NOLA has a special place in my heart. I spent...,2011-11-25 18:36:46
...,...,...,...,...,...,...,...,...,...
1747565,-soqeJPKx8juPUcIeZ99Ug,iQbJjAzhUgOO9FXpcsLevg,8FRpZwJgsNhvn3r26cTXXQ,4.0,0,0,0,"Good tacos and burritos, ice cold draught, and...",2013-08-03 22:36:32
1747566,eYhzuq1rlV1qw51pcBgqxA,icT_s1BWU7iKAXor31tF8g,gvil-CKqLLwVZqbTGNHddw,1.0,3,0,0,Let me start by saying that the folks that wor...,2016-04-23 01:39:43
1747567,Jw4M6ZIU_W2CtNCFk_Aiqw,cxfq51aSxpvBxrLnxkExbQ,aUAgPS6jStFdl1lijItGvg,1.0,2,1,0,We found ourselves in Belle Chasse at lunchtim...,2017-06-17 18:38:47
1747568,okw9TCkkFSV1-KOVolaOJQ,YoBgMDU5vHBBdpfIHgpGAA,ECg2k3n1y8xZps3szszlwQ,4.0,0,0,0,Husband wanted to come back and try his luck a...,2017-06-28 01:20:22
1747569,wLbk5aevoP-hlQmu7LO7UA,Cn22zXTPrJL_F0QhjfXgjw,xuhCaQ1gnWyHY0tFSsrh2g,5.0,0,0,1,Glass mastery in Santa Barbara! This is a trea...,2015-08-30 19:42:34

Convertimos columna 'date' de tipo object a datetime para filtrarlo.

In [14]:
df2['date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1747570 entries, 0 to 1747569
Series name: date
Non-Null Count    Dtype
--------------    -----
1747570 non-null  object
dtypes: object(1)
memory usage: 13.3+ MB

In [15]:
df2['date'] = pd.to_datetime(df2['date'])

In [16]:
df2 = df2[(df2['date'].dt.year >= 2018) & (df2['date'].dt.year <= 2021)]

In [17]:
df2

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
1,2T4RHpPHXbE6VS4KMMISfg,PWfBk-vFfWzwNxx5AXXSDg,2tAi411srrpmMofeAKdACw,5.0,0,0,0,"Cute mom and pop atmosphere, Huevos Rancheros ...",2018-08-21 22:37:31
7,r3QOzmbV8QK8GwIgBa2AXw,x801kqtJWcQjRQDd-ROK3w,6UZfJmVt8O1kpYRjAUFU2Q,5.0,0,0,0,"Great customer service and wonderful, cozy pla...",2018-10-19 01:39:39
9,YoHD1r01976OAMd1rEcifQ,7_VGlDsEYR4d-5BH9yDflg,cYZzwOnwzppjuzseAi2p9w,5.0,0,0,0,I love this place so much good food and it hel...,2018-04-23 21:14:49
11,t6XEQUGInfZxuo6m23rW1A,2aDXhOFx_8BNPT_KtGu5CA,VQcCL9PiNL_wkGf-uF3fjg,4.0,1,0,0,The redfish beignet was worth the wait. One of...,2019-04-26 16:41:00
12,eW6TD0gkB4zqCHFpZIDk0Q,mr4-iM8rJN8dniE_kkF0CQ,dovCDmzbIMJRZDXCtt6L_w,5.0,1,0,0,Best hibachi and poké in the area. Service is ...,2019-02-16 18:36:33
...,...,...,...,...,...,...,...,...,...
1747551,NfjAXzz2cNZGn86iK_kdDg,AHj4zXwm7iYbLRNcOTy9Gw,uRzXKZaiMO6NUt1iavkT7Q,5.0,0,0,0,We love it here! The employees treat you like ...,2018-02-24 12:55:20
1747555,zqjENBUsW78MwNIgMah-wA,QvyluRK8T-EkI6EJb6EzHg,ZDV6ocQSe6dkMt-u011xcQ,5.0,0,0,0,"This was our last day in Nola, and we both dec...",2018-05-08 21:11:41
1747557,KI0fJljYvHw9qdQ1B8-CHQ,_Rue5m6AKJsCz2JSjAMT-g,Pw77mNz6cso9quMp2NwaiA,5.0,0,0,0,The customer service is very good. The pizza i...,2018-03-23 23:55:28
1747558,QS2b7XrH3Nxxziwf5-wD0Q,UqAyna_TQX47t3M93qJAng,q74ZX3o477i3jspGBc3Hvw,5.0,0,0,0,We went here on a whim to use a 15% coupon. I ...,2018-06-26 21:29:57
1747560,M9x6emdQx4zVTaRzgHFdXA,akNwBcv_AiT6TAoYNFPUJQ,3Wy21heeDm8h2tSZfcj6OA,4.0,0,0,0,Service can at times be slow and staff get ove...,2018-07-17 17:14:43

Verificamos que no haya reseñas duplicadas. Para los usuarios y comercios no hace falta verificar esto.

In [18]:
df2['review_id'].duplicated().sum()

0

Verificamos datos nulos y tipo de dato.

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 837451 entries, 1 to 1747560
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    837451 non-null  object
 1   user_id      837451 non-null  object
 2   business_id  837451 non-null  object
 3   stars        837451 non-null  float64
 4   useful       837451 non-null  int64
 5   funny        837451 non-null  int64
 6   cool         837451 non-null  int64
 7   text         837451 non-null  object
 8   date         837451 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 63.9+ MB

<b>DATA REVIEWS-PARTE 3</b>

In [56]:
df6 = pd.read_json('review-001-parte3.json')

In [57]:
pd.DataFrame(df6)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,tD2RwDANZkX4QdTuccaTrQ,bofZTJWpnG8PNglOjOJAwg,OWOOc0YjU_kioLeEgo5VCA,5,0,0,0,I have been to loveless several times now and ...,2014-03-14 19:43:23
1,YuJir5PWVbsZuiirz2KuMQ,luoidj4uPysXg2rbQCEcjQ,EYoA7Zwg92rDj6pMAQQLTA,5,0,0,0,what a wonderful oasis in the desert! We went...,2015-01-04 02:15:35
2,7NG551_VIZdlL_llLJZ1xg,UBQcIz3kwwvIEkCJQp4B8Q,14QP5lOdrTAVVCDDuHIAUg,5,0,0,0,"Really good, casual, inexpensive. Definitely ...",2016-01-04 13:38:17
3,cT-5iZQ8MN0fpKJyGv7wDA,LMvGr9_gUrIwnD2iBS5MlQ,7fH8SmEBinkv2AI7B8dOWA,2,0,0,0,"Not sure what happened, but wow..... last nigh...",2018-03-04 14:32:26
4,-5QKsavZiOPMSvqxHVtqkw,vmIZDr3I5L8iK7uHHamiGw,Ow29cE1wS-_LrfN7jEuDPA,4,0,0,0,I had a fantastic meal at the sushi bar at Ahi...,2014-08-11 02:38:43
...,...,...,...,...,...,...,...,...,...
1747565,FK1yvRW9vrutZIvzuVUfrw,gYt5EkRD8NUpywcwOk6Y-Q,ac1AeYqs8Z4_e2X5M3if2A,3,0,0,0,The food was ok. My husband enjoyed the taste ...,2019-04-25 16:45:59
1747566,_a6JF7v-WE_Pob0bUODJXQ,X9cDIqs9JkpXD2fvxrAAWw,BdiSBsvPj9L7TBx8ItJ8iQ,2,1,0,0,We have been here before and it was pretty goo...,2018-11-01 18:39:08
1747567,Hryz75s0VCSxKcPkvQmGXg,8GS1Mt-bBYIwBwXYcaNYUw,IAOJuLejVtnZJpw15Txu9A,5,0,0,0,Had the Eggplant Stirfy: some of the best eggp...,2019-07-08 17:23:39
1747568,D6QASxjmGvlFJ-5kCaDppQ,vDSMhlq7ZNGyBcZVIX7RZw,Lhhf1jJPmpZSJjGvXabXag,5,0,0,0,"Love the pizza, good fast service. Ambience w...",2019-05-05 20:24:24
1747569,46Nl4epv39Nynz24_yleiQ,zc69yRlpCeNEyHOVAvTYxw,nn9N5vSguILHphKTeP7v3Q,4,0,0,0,Very peaceful and pretty! We go for fishing mo...,2019-07-11 19:42:14

In [59]:
df6['date'] = pd.to_datetime(df6['date'])

In [60]:
df6 = df6[(df6['date'].dt.year >= 2018) & (df6['date'].dt.year <= 2021)]

In [61]:
df6

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
3,cT-5iZQ8MN0fpKJyGv7wDA,LMvGr9_gUrIwnD2iBS5MlQ,7fH8SmEBinkv2AI7B8dOWA,2,0,0,0,"Not sure what happened, but wow..... last nigh...",2018-03-04 14:32:26
9,sgo7vyLp_6FN_izqe0kEBQ,XoI3dioB_rLKaWu4KMJjXQ,fC03dk7N8XV-RzGh0UJgmA,5,0,0,0,This little gem is fantastic. It is everythin...,2018-08-24 03:18:07
29,6x_QYh1KcavY3bl2Ve8YBw,Y9oLeKW_6XLlMEz-SFngtQ,S8TWiMbbBaCNUHbQXOCBNg,5,0,0,0,Best fried rice in Reno! Amazing variety and n...,2018-03-24 01:14:46
35,x5ACBI63S1dOYlKYpAi4NQ,Rbtm8l614rttWo3-K4bbrw,DrSa1sLi0jofkfyjKKNLkQ,4,0,0,0,Great selection ... I understand they have a s...,2018-02-11 04:07:52
38,uo5L6733MYeQwrwAzrBvEA,zu3JG7jdOBNLqf9-9hmCpQ,89HhrS0QIIZfLM9Qn3c0mA,1,0,0,0,Horrible experience. We had a party of six an...,2018-05-19 13:16:38
...,...,...,...,...,...,...,...,...,...
1747565,FK1yvRW9vrutZIvzuVUfrw,gYt5EkRD8NUpywcwOk6Y-Q,ac1AeYqs8Z4_e2X5M3if2A,3,0,0,0,The food was ok. My husband enjoyed the taste ...,2019-04-25 16:45:59
1747566,_a6JF7v-WE_Pob0bUODJXQ,X9cDIqs9JkpXD2fvxrAAWw,BdiSBsvPj9L7TBx8ItJ8iQ,2,1,0,0,We have been here before and it was pretty goo...,2018-11-01 18:39:08
1747567,Hryz75s0VCSxKcPkvQmGXg,8GS1Mt-bBYIwBwXYcaNYUw,IAOJuLejVtnZJpw15Txu9A,5,0,0,0,Had the Eggplant Stirfy: some of the best eggp...,2019-07-08 17:23:39
1747568,D6QASxjmGvlFJ-5kCaDppQ,vDSMhlq7ZNGyBcZVIX7RZw,Lhhf1jJPmpZSJjGvXabXag,5,0,0,0,"Love the pizza, good fast service. Ambience w...",2019-05-05 20:24:24
1747569,46Nl4epv39Nynz24_yleiQ,zc69yRlpCeNEyHOVAvTYxw,nn9N5vSguILHphKTeP7v3Q,4,0,0,0,Very peaceful and pretty! We go for fishing mo...,2019-07-11 19:42:14

Verificamos que no haya reseñas duplicadas. Para los usuarios y comercios no hace falta verificar esto.

In [62]:
df6['review_id'].duplicated().sum()

0

Verificamos datos nulos y tipo de dato.

In [63]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 662422 entries, 3 to 1747569
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    662422 non-null  object
 1   user_id      662422 non-null  object
 2   business_id  662422 non-null  object
 3   stars        662422 non-null  int64
 4   useful       662422 non-null  int64
 5   funny        662422 non-null  int64
 6   cool         662422 non-null  int64
 7   text         662422 non-null  object
 8   date         662422 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 50.5+ MB

<b>DATA REVIEWS-PARTE 4</b>

In [64]:
df7 = pd.read_json('review-001-parte4.json')

In [65]:
pd.DataFrame(df7)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,g2bgAoRUeKWkDQHmpWpjMA,HIZvBs4nmsafwdhuWWtrdQ,uYBHf5LLq3f7YbBjncQdCg,4,1,0,1,"Friendly people, great selection of pastries, ...",2019-01-09 15:12:59
1,j4iWM8Ybfu6wFl54CdEIbw,z8UXeMDV-2cJOddzAcHDFg,DOoJrrsqGzZN2FqzvllKnQ,5,0,0,0,"Fantastic food! Wish they were in Fairfax, Va...",2019-05-12 00:25:30
2,MAkeW6gz1KwqasOqdqruCQ,OJHRfPll8s9bbhITS5RWIQ,vznHFDZ8-oZbJRU6Bslsdw,4,1,0,0,If you're a Dolphin Tale fan then this is a mu...,2018-07-16 14:55:27
3,mSTGsybdRzd1Qyb_mmftMA,sf5socLRgAC0FQBiKITDXg,SDUHdtyCg-1jI5MZiC5mzw,3,1,0,0,An incredibly lackluster experience. We brough...,2018-06-30 21:29:18
4,2BnoLg4eDwnyh1jv6GH3eA,1KbyhfgVuK9HlCIg70qfvQ,7_UhyUmnFY_Y1gMJ1W4DdQ,5,4,2,0,If you are looking for a friendly hotel like E...,2013-07-14 19:45:58
...,...,...,...,...,...,...,...,...,...
1747565,H0RIamZu0B0Ei0P4aeh3sQ,qskILQ3k0I_qcCMI-k6_QQ,jals67o91gcrD4DC81Vk6w,5,1,2,1,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
1747566,shTPgbgdwTHSuU67mGCmZQ,Zo0th2m8Ez4gLSbHftiQvg,2vLksaMmSEcGbjI5gywpZA,5,2,1,2,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
1747567,YNfNhgZlaaCO5Q_YJR4rEw,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,4,1,0,0,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
1747568,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5,1,0,0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
1747569,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3,10,3,7,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

In [67]:
df7['date'] = pd.to_datetime(df7['date'])

In [68]:
df7 = df7[(df7['date'].dt.year >= 2018) & (df7['date'].dt.year <= 2021)]

In [69]:
df7

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,g2bgAoRUeKWkDQHmpWpjMA,HIZvBs4nmsafwdhuWWtrdQ,uYBHf5LLq3f7YbBjncQdCg,4,1,0,1,"Friendly people, great selection of pastries, ...",2019-01-09 15:12:59
1,j4iWM8Ybfu6wFl54CdEIbw,z8UXeMDV-2cJOddzAcHDFg,DOoJrrsqGzZN2FqzvllKnQ,5,0,0,0,"Fantastic food! Wish they were in Fairfax, Va...",2019-05-12 00:25:30
2,MAkeW6gz1KwqasOqdqruCQ,OJHRfPll8s9bbhITS5RWIQ,vznHFDZ8-oZbJRU6Bslsdw,4,1,0,0,If you're a Dolphin Tale fan then this is a mu...,2018-07-16 14:55:27
3,mSTGsybdRzd1Qyb_mmftMA,sf5socLRgAC0FQBiKITDXg,SDUHdtyCg-1jI5MZiC5mzw,3,1,0,0,An incredibly lackluster experience. We brough...,2018-06-30 21:29:18
5,G6KEKNhDk4023pNyl3Vxaw,-E25-nkMSSL6Ft1HXaiuDA,eevfQbBM_SNa9fFtIipRWA,1,0,0,0,make sure when you cancel contract to keep pap...,2019-04-13 15:37:00
...,...,...,...,...,...,...,...,...,...
1747552,_b_SOIkWHsNPRGW4RM3X5w,L_fdAnrH5Pxi4PqF08_ToA,ez4kMLP6OJEIaMbMrrGRdA,5,1,1,1,My sister and I went on the ghost tour with Th...,2018-12-10 16:31:32
1747559,cACxcUY_AIsQKkpDRXuqnw,MCzlzlOw7IGbRAKVjJBPtg,fcGexL5VH5G2Xw0tRj9uOQ,3,1,1,0,This is a good pizza option - they deliver thr...,2018-03-13 13:54:48
1747566,shTPgbgdwTHSuU67mGCmZQ,Zo0th2m8Ez4gLSbHftiQvg,2vLksaMmSEcGbjI5gywpZA,5,2,1,2,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
1747567,YNfNhgZlaaCO5Q_YJR4rEw,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,4,1,0,0,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
1747569,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3,10,3,7,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

Verificamos que no haya reseñas duplicadas. Para los usuarios y comercios no hace falta verificar esto.

In [70]:
df7['review_id'].duplicated().sum()

0

Verificamos datos nulos y tipo de dato.

In [71]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
Index: 836904 entries, 0 to 1747569
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    836904 non-null  object
 1   user_id      836904 non-null  object
 2   business_id  836904 non-null  object
 3   stars        836904 non-null  int64
 4   useful       836904 non-null  int64
 5   funny        836904 non-null  int64
 6   cool         836904 non-null  int64
 7   text         836904 non-null  object
 8   date         836904 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 63.9+ MB

<b>DATA TIP</b>

In [25]:
df3 = pd.read_json('tip.json', lines=True)

In [26]:
pd.DataFrame(df3)

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0
...,...,...,...,...,...
908910,eYodOTF8pkqKPzHkcxZs-Q,3lHTewuKFt5IImbXJoFeDQ,Disappointed in one of your managers.,2021-09-11 19:18:57,0
908911,1uxtQAuJ2T5Xwa_wp7kUnA,OaGf0Dp56ARhQwIDT90w_g,Great food and service.,2021-10-30 11:54:36,0
908912,v48Spe6WEpqehsF2xQADpg,hYnMeAO77RGyTtIzUSKYzQ,Love their Cubans!!,2021-11-05 13:18:56,0
908913,ckqKGM2hl7I9Chp5IpAhkw,s2eyoTuJrcP7I_XyjdhUHQ,Great pizza great price,2021-11-20 16:11:44,0
908914,4tF1CWdMxvvwpUIgGsDygA,_cb1Vg1NIWry8UA0jyuXnQ,Food is good value but a bit hot!,2021-12-07 22:30:00,0

<b>DATA USER</b>

In [ ]:
df4 = pd.read_parquet('user.parquet')
pd.DataFrame(df4)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105592,4QGxxakRZeOlg_qDuxmTeQ,Jennilee,38,2012-01-19 23:33:02,74,9,6,,kmwNG5LZSHFmveg6wYYdrw,0,...,1,0,0,0,1,4,0,0,1,0
2105593,tmelBbVBGAzXBVfH2u_R6g,Gerry,19,2009-06-09 16:34:54,14,5,2,,"BFYdCAMFyjYHDwesndEXEg, _9fTIqfSJc7g3V_o76XRVg...",1,...,1,0,0,0,0,1,0,0,0,0
2105594,tpBznnD6uJN3m_pJubj09w,Emily,26,2013-08-13 23:18:11,4,1,2,,"bKV3ly2MuK-K1cptMrFknQ, liel18zRoSB4tEkUP7i6Cg...",0,...,0,0,0,0,1,0,0,0,0,0
2105595,Kst_srPw7GdYydMFYdCtzw,Heatheranne,25,2015-01-10 00:06:25,21,2,5,,"dzHTk52vbGtbktRm_B-wEg, fOfFLV7IbBDN6lzARaLqdg...",0,...,0,0,0,0,0,1,0,0,0,0
2105596,mZl-mH3ZIWLRSd_FfvrXFg,Jessica,30,2015-11-30 21:10:17,27,1,17,,"pou3BbKsIozfH50rxmnMew, JT3rDC7-hprCSObnihMeHw...",3,...,0,1,0,0,0,1,0,0,1,0

Verificamos que no haya usuarios duplicados y los borramos.

In [ ]:
df4['user_id'].duplicated().sum()

117700

In [ ]:
df4['user_id'] = df4['user_id'].drop_duplicates()

Verificamos datos nulos (de las columnas más relevantes) y tipos de datos.

In [ ]:
df4.info() ## Hay muchas columnas y filas para contabilizar nulos en info.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2105597 entries, 0 to 2105596
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 353.4+ MB

In [ ]:
print(df4['user_id'].isna().sum())
print(df4['review_count'].isna().sum())
print(df4['yelping_since'].isna().sum())
print(df4['useful'].isna().sum())
print(df4['funny'].isna().sum())
print(df4['cool'].isna().sum())
print(df4['fans'].isna().sum())

117700
0
0
0
0
0
0

Se eliminan los datos nulos, provinientes de 'user_id', ya que, es necesario conocer estos datos para el modelo de recomendación.

In [ ]:
df4 = df4.dropna()
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1987897 entries, 0 to 1987896
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 348.8+ MB

In [ ]:
columns = ['name', 'elite', 'average_stars', 'compliment_hot', 'compliment_more', 'compliment_profile', 'compliment_cute', 'compliment_list','compliment_note', 'compliment_plain', 'compliment_cool', 'compliment_funny', 'compliment_writer', 'compliment_photos']
df4.drop(columns=columns, inplace=True)

<b>BUSINESS</b>

In [47]:
df5 = pd.read_pickle('business.pkl')
pd.DataFrame(df5)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,IN,T6J 5H2,53.468419,-113.492054,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,DE,37204,36.115118,-86.766925,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,AB,46250,39.908707,-86.065088,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",None
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,AB,62025,38.782351,-89.950558,4.0,24,1,"{'BusinessParking': '{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,TN,33572,27.771002,-82.39491,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

In [48]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  object
 7   longitude     150346 non-null  object
 8   stars         150346 non-null  object
 9   review_count  150346 non-null  object
 10  is_open       150346 non-null  object
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: object(14)
memory usage: 17.2+ MB

In [49]:
df5['business_id'].duplicated().sum() #No hay id duplicados.

0

In [50]:
df5.dropna(inplace=True) #Eliminar nulos

In [51]:
columns = ['is_open', 'attributes', 'hours']
df5.drop(columns=columns, inplace=True)

In [52]:
food_services = ['restaurant','cafe', 'food','pub','bar','coffee','breakfast','brunch','bakery','sandwich','ice cream','gastropubs']
food_services = '|'.join(food_services)

In [53]:
df5 = df5[df5['categories'].str.contains(food_services, case=False)]
df5

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,"Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,"Brewpubs, Breweries, Food"
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,AZ,37015,36.269593,-87.058943,2.0,6,"Burgers, Fast Food, Sandwiches, Food, Ice Crea..."
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,MO,37207,36.208102,-86.76817,1.5,10,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,..."
11,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,MO,33602,27.955269,-82.45632,4.0,10,"Vietnamese, Food, Restaurants, Food Trucks"
...,...,...,...,...,...,...,...,...,...,...,...
150327,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,33,"Cafes, Juice Bars & Smoothies, Coffee & Tea, R..."
150328,1jx1sfgjgVg0nM6n3p0xWA,Savaya Coffee Market,11177 N Oracle Rd,Oro Valley,PA,85737,32.409552,-110.943073,4.5,41,"Specialty Food, Food, Coffee & Tea, Coffee Roa..."
150336,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,MO,19147,39.935982,-75.158665,4.5,35,"Restaurants, Mexican"
150339,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,PA,19014,39.856185,-75.427725,4.5,14,"Restaurants, Comfort Food, Food, Food Trucks, ..."
150340,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,2470 Guardian Road NW,Edmonton,NJ,T5T 1K8,53.509649,-113.675999,4.5,18,"Middle Eastern, Restaurants"

In [54]:
state = ['MO','LA','CA','ID','IL','DE']
state = '|'.join(state)

In [55]:
df5 = df5[df5['state'].str.contains(state, case=False)]
df5

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,"Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,"Brewpubs, Breweries, Food"
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,MO,37207,36.208102,-86.76817,1.5,10,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,..."
11,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,MO,33602,27.955269,-82.45632,4.0,10,"Vietnamese, Food, Restaurants, Food Trucks"
20,WKMJwqnfZKsAae75RMP6jA,Roast Coffeehouse and Wine Bar,10359 104 Street NW,Edmonton,LA,T5J 1B9,53.546045,-113.499169,4.0,40,"Coffee & Tea, Food, Cafes, Bars, Wine Bars, Re..."
...,...,...,...,...,...,...,...,...,...,...,...
150306,wVxXRFf10zTTAs11nr4xeA,PrimoHoagies,6024 Ridge Ave,Philadelphia,CA,19128,40.032483,-75.21443,3.0,55,"Restaurants, Specialty Food, Food, Sandwiches,..."
150313,sf_oQ62L8UEnOOLf00nNGA,Pizza Hut,5028 Old Hickory,Hermitage,MO,37076,36.193201,-86.614748,3.0,6,"Restaurants, Pizza, Fast Food, Chicken Wings, ..."
150315,WXNag-tmudrFHFlfNLogWg,Whole Foods Market,4577 W Pine Blvd,St. Louis,ID,63108,38.641988,-90.261655,4.0,71,"Health Markets, Specialty Food, Food, Grocery"
150327,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,33,"Cafes, Juice Bars & Smoothies, Coffee & Tea, R..."
150336,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,MO,19147,39.935982,-75.158665,4.5,35,"Restaurants, Mexican"

<b>DATA CHECK IN</b>

In [82]:
df8 = pd.read_json('checkin.json', lines=True)
pd.DataFrame(df8)

,business_id,date
0,---kPU91CF4Lq2-WlRu9Lw,"2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020..."
1,--0iUa4sNDFiZFrAdIWhZQ,"2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011..."
2,--30_8IhuyMHbSOcNWd6DQ,"2013-06-14 23:29:17, 2014-08-13 23:20:22"
3,--7PUidqRWpRSpXebiyxTg,"2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012..."
4,--7jw19RH9JKXgFohspgQw,"2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014..."
...,...,...
131925,zznJox6-nmXlGYNWgTDwQQ,"2013-03-23 16:22:47, 2013-04-07 02:03:12, 2013..."
131926,zznZqH9CiAznbkV6fXyHWA,2021-06-12 01:16:12
131927,zzu6_r3DxBJuXcjnOYVdTw,"2011-05-24 01:35:13, 2012-01-01 23:44:33, 2012..."
131928,zzw66H6hVjXQEt0Js3Mo4A,"2016-12-03 23:33:26, 2018-12-02 19:08:45"
131929,zzyx5x0Z7xXWWvWnZFuxlQ,2015-01-06 17:51:53

<p>Se desarma la columna con las fechas.</p>

In [83]:
df8['date'] = df8['date'].apply(lambda x: x.split(','))
df_explode = df8.explode('date')
df_explode['date'] = pd.to_datetime(df_explode['date'].str.strip(), format='%Y-%m-%d %H:%M:%S', errors='coerce')
df_explode

                   business_id                date
0       ---kPU91CF4Lq2-WlRu9Lw 2020-03-13 21:10:56
0       ---kPU91CF4Lq2-WlRu9Lw 2020-06-02 22:18:06
0       ---kPU91CF4Lq2-WlRu9Lw 2020-07-24 22:42:27
0       ---kPU91CF4Lq2-WlRu9Lw 2020-10-24 21:36:13
0       ---kPU91CF4Lq2-WlRu9Lw 2020-12-09 21:23:33
...                        ...                 ...
131927  zzu6_r3DxBJuXcjnOYVdTw 2013-12-11 00:52:49
131927  zzu6_r3DxBJuXcjnOYVdTw 2013-12-13 00:58:14
131928  zzw66H6hVjXQEt0Js3Mo4A 2016-12-03 23:33:26
131928  zzw66H6hVjXQEt0Js3Mo4A 2018-12-02 19:08:45
131929  zzyx5x0Z7xXWWvWnZFuxlQ 2015-01-06 17:51:53

[13356875 rows x 2 columns]

<p>Filtra por los años de muestra.</p>

In [84]:
df8 = df_explode[(df_explode['date'].dt.year >= 2018) & (df_explode['date'].dt.year <= 2021)]

In [85]:
df8 #Este nuevo dataset nos va a proveer la información necesaria para el KPI de registros de entrada.

                   business_id                date
0       ---kPU91CF4Lq2-WlRu9Lw 2020-03-13 21:10:56
0       ---kPU91CF4Lq2-WlRu9Lw 2020-06-02 22:18:06
0       ---kPU91CF4Lq2-WlRu9Lw 2020-07-24 22:42:27
0       ---kPU91CF4Lq2-WlRu9Lw 2020-10-24 21:36:13
0       ---kPU91CF4Lq2-WlRu9Lw 2020-12-09 21:23:33
...                        ...                 ...
131925  zznJox6-nmXlGYNWgTDwQQ 2019-09-12 10:49:25
131925  zznJox6-nmXlGYNWgTDwQQ 2021-02-13 14:50:06
131925  zznJox6-nmXlGYNWgTDwQQ 2021-05-16 21:43:26
131926  zznZqH9CiAznbkV6fXyHWA 2021-06-12 01:16:12
131928  zzw66H6hVjXQEt0Js3Mo4A 2018-12-02 19:08:45

[3144051 rows x 2 columns]

In [87]:
df8['business_id'].value_counts()

business_id
-QI8Qi8XWH3D8y8ethnajA    10525
FEXhWNCMkv22qG04E83Qjg     9255
ac1AeYqs8Z4_e2X5M3if2A     8735
Eb1XmmLWyt_way5NNZ7-Pw     8061
c_4c5rJECZSfNgFj7frwHQ     7638
                          ...
rlfWeYI1SLvC8ZKM_OvXWA        1
XbqfU1PcwiYZK3GReV40Yg        1
4kzHY2gNaEtwMMdwR0PQ_g        1
Mm1UbuwHILcih1TJ4pE2Rw        1
zzw66H6hVjXQEt0Js3Mo4A        1
Name: count, Length: 95871, dtype: int64